<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row full">
  <div class="col s12 m4">
    <div class="card blue darken-1 card-bg border-red">
      <div class="card-content -text">
        <span class="card-title">DINHEIRO</span>
        <h4 class=" red-text right-align">1260R$</h4>
        <!-- <a class="btn-floating halfway-fab waves-effect waves-light btn-card"><i class="material-icons">search</i></a> -->
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card green darken-1 card-bg border-blue">
      <div class="card-content -text">
        <span class="card-title">PROFESSORES</span>
        <h4 class="right-align">3</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card red darken-1 card-bg border-base">
      <div class="card-content">
        <span class="card-title">ALUNOS</span>
        <h4 class="right-align">60</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card card-blue darken-1 intra-menu">
      <div class="card-content white-text  ">
        <div class="row center">
          <a class="icons" routerLink="evento"><img src="assets/calendar.png" height="30px" alt=""></a>
          <a class="icons" routerLink="perfil"><img src="assets/edit.png" height="30px" alt=""></a>
        </div>
        <div class="row center">
          <a class="icons"><img type="file" src="assets/portrait.png" height="30px" alt=""></a>
          <a class="icons"><img type="file" src="assets/portrait.png" height="30px" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12">
    <div class="card calendar boder">
      <router-outlet></router-outlet>
    </div>
  </div>
