<div class="row">
  <div class="col s12 m4">
    <div class="card red darken-1 card-bg border-red">
      <div class="card-content -text">
        <span class="card-title">Balanço Total</span>
        <h4 class="right-align">1260R$</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card red darken-1 card-bg border-blue">
      <div class="card-content -text">
        <span class="card-title">Pedente Mensal</span>
        <h4 class="right-align">60R$</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card red darken-1 card-bg border-blue">
      <div class="card-content -text">
        <span class="card-title">Despesa Mensais</span>
        <h4 class="right-align">600R$</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card red darken-1 card-bg border-blue">
      <div class="card-content -text">
        <span class="card-title">Patrocinados</span>
        <h4 class="right-align">4</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>
<div class="row">
  <div class="col s12 m8">
    <div class="card card-bg border-base">
      <div class="card-content -text">
        <span class="card-title">Histórico Despesas</span>

        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Valor</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>29/03/2018</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>29/03/2018</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>29/03/2018</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card card-bg border-base">
      <div class="card-content">
        <span class="card-title">Atletas Patrocinados</span>

        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card card-bg border-base">
      <div class="card-content">
        <span class="card-title">Total Atletas</span>

      </div>
    </div>
  </div>
</div>
